@model IEnumerable<BlockByBlock.Models.L1>

@{
    ViewBag.Title = "Nicklas_Test";
}

<h2>Nicklas_Test</h2>







<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Gid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Groesse)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Area)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Id_hz)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zone_hz)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Home_hz)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Day_hz)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Shared_hz)
        </th>
        <th>Spaceeeeeeeee
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Distance)
        </th>

    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Gid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Groesse)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Area)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Id_hz)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Zone_hz)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Home_hz)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Day_hz)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Shared_hz)
        </td>
        <td>
           ---------------------
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Distance)
        </td>

    </tr>
    }
</table>

